<!DOCTYPE html>
<html lang="es">
	<head>

		<meta charset="UTF-8" />
		

		
		<title>RAM | Radar de noticias de Artes Multimediales</title>

		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,400italic,500,700">
		<!-- CSS Reset -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css">

		
		<!-- Milligram CSS minified -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css" type="text/css">
		<!-- Milligram CSS minified -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css.map" type="text/css">


		<!-- RSS FEEDS!!!! Agregado el dia del trabajador. -->
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://multimediales.com.ar/rss">



		<style type="text/css">
			body{
				font-family: "Roboto Mono", Courrier, monospace;
			}
			nav{
				padding-top: 15px;
			}
			nav ul li{
				list-style: none;
				font-size: 1.3rem;
				margin-bottom: .5rem;
				padding: 3px 0px;
			}
			body > header,
			section,
			body > footer{
				/*width: 680px;margin: 0px auto;*/
			}
			section{
				margin-bottom: 100px;
			}

			article{
				/*width: 680px;*/
				margin: 40px 0;
				border-bottom: 1px solid #d3d3d3;
				padding-bottom: 20px;
			}
			section article:last-child{
				border-bottom-width: 0px; 
			}
			article .content{
				font-weight: 300;
			}
			header h4 {
				font-weight: 700; 
			} 
			a{
				color: #007C85;
			}
			.fecha{
				font-weight: 100;
			}
			.content img{
				display: block;
				margin-bottom: 10px;
				width: 100%;
				height: auto;
			}
			article > footer{
				text-align: right;
				/*background: #007C85;*/
				/*color: white;*/
			}
			.cat{
				font-weight: 500;
			}

			.subrrayado{
				border-bottom: 2px solid #606c76;
				padding-bottom: 5px;
			}
			.anchor a{
				font-size: 2rem;
				color: #d3d3d3;
			}
			.resaltado a,.resaltado {
				color:red;
			}
			.subtitulo{
				font-size: 2rem;
				color: #007C85;
				/*font-weight: 700;*/
			}

			footer{
				padding:50px 0;
			}
		</style>

	</head>

	<body class="container">

			 
		<header>
			<h1>RAM</h1>
			<p>Radar de noticias de Artes Multimediales<br>
			<small>Los contenidos a continuación fueron publicados en el día <em>{{ timestamp|localizeddate("J d \\d\\e M \\d\\e Y","none", locale) }}</em> en sus respectivos canales, su recopilacion en esta página es sin fines de lucro y no tiene otro motivo que la divulgación de temas ralacionados con la carrera.</small>
			</p>
		</header >

		<div class="row">

			
			<div class="column column-25 ">
				
				<nav class="pinned"> 
					<ul><strong>Canales:</strong>
						{% for feed in feeds %}
							
							<li {% for cat in cats %}{% if cat  in feed.feed_categories %}class="resaltado"{% endif %}{% endfor %} >
								<a title="{{ feed.url }}"  href="#{{ feed.name|lower|replace({' ': '-'})|raw }}">
									{{ feed.name|raw }}
								</a> [{{ feed.entries|length }}]
							</li>
							
						{% endfor %}
					</ul>
					  
					<strong>Categorias:</strong><br>
					{% for cat in categories_main %}
						<span {% if cat  in cats %}class="resaltado"{% endif %} ><a  href="?categoria={{ cat|raw }}">{{ cat|raw }}</a></span>,
					{% endfor %}.

				</nav>

			</div> <!-- cierra .column-25 -->
				


			<!-- <div class="column column-75"> -->

				
				<main id="content" class="group column column-75" role="main">
					
					{% for feed in feeds %}
						
						<section 
							id="{{ feed.name|lower|replace({' ': '-'})|raw }}"
							class="{{ entry.feed_categories|join(' ')|lower }}"
						>
							
							<header>
								<h2 class="subrrayado">
									<span {% for cat in cats %}{% if cat  in feed.feed_categories %}class="resaltado"{% endif %}{% endfor %} >
										{{ feed.name|raw }}
									</span>
									<span class="subtitulo">[{{ feed.feed_categories|join(', ')|escape }}]</span>
								</h2>
								
							</header>

							{% for entry in feed.entries %}

								<article id="{{ entry.title|lower|replace({' ': '-'})|raw  }}">
									
									<header>
										 
										<h5>
											<a target="_BLANK" href="{{entry.link}}">
												{{entry.title}}
											</a>
											<span class="anchor">
											<a href="#{{ entry.title|lower|replace({' ': '-'})|raw  }}">#</a></span>

										</h5>
										
									</header>
									
									<div class="content">
										{{ entry.content|raw }}
									</div>
									
									<footer>
										<span class="fecha">por {{ feed.name|raw }} el {{entry.time|date("d/m/y \\a \\l\\a\\s H:i")}}hs.</span> 
									</footer>

								</article>

							{% endfor %}

						</section>
					{% endfor %}
				
				</main>

			<!-- </div> --> <!-- cierra .column-75 -->

		</div> <!-- cierra .row -->

		<footer>
			<a target="_BLANK" href="http://una.edu.ar/">
				Universidad Nacional del las Artes
			</a>
			<br>
			<a target="_BLANK" href="http://multimedia.una.edu.ar/">
				Área Transdepartamental de Artes Multimediales
			</a>
		</footer>
		
		<!-- Include jQuery and jquery.pin -->
	    <script
			  src="http://code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/jquery.pin/1.0.3/jquery.pin.min.js"></script>


	    <!-- PIN ALL THE THINGS! -->
	    <script>
	      $(".pinned").pin({containerSelector: ".row"});
	    </script>
	    <!-- That's all - pretty easy, right? -->

	</body>
</html>


