<!DOCTYPE html>
<html lang="es">
<head>

	<meta charset="UTF-8" />



	<title>RAM | Radar de noticias de Artes Multimediales</title>

	<!-- Google Fonts -->
	<link 
		rel="stylesheet" 
		href="https://fonts.googleapis.com/css?
			family=Roboto+Mono:400,100,300,400italic,500,700">

	<!-- <link 
		href='https://fonts.googleapis.com/css?
			family=Source+Code+Pro:400,700,500,200,300,600,900' 
		rel='stylesheet'
	 	type='text/css'> -->

	<!-- CSS Reset -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css">


	<!-- Milligram CSS minified -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css" type="text/css">
	<!-- Milligram CSS minified -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css.map" type="text/css">


	<!-- RSS FEEDS!!!! Agregado el dia del trabajador. -->
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://multimediales.com.ar/rss">



	<style type="text/css">



		body{
			font-family: "Roboto Mono", Courrier, monospace;
		}
		nav{
			/*padding-top: 15px;*/
		}
		nav ul li{
			list-style: none;
			margin-bottom: .1rem;
		/*	padding: .3rem 0;*/
		}
		nav {
			font-size: 1.1rem;
			line-height: 1.6rem;
		}
		body > header,
		section,
		body > footer{
			/*width: 680px;margin: 0px auto;*/
		}
		section{
			/*margin-bottom: 100px;*/
			padding-top: 33px;
		}

		article{
			/*width: 680px;*/
			/*margin: 40px 0;*/
			border-bottom: 1px solid #d3d3d3;
			padding-top: 47px;
			/*padding-top: 13px;*/
		}
		section article:last-child{
			border-bottom-width: 0px;
		}
		article .content{
			font-weight: 300;
		}
		
		a{
			color: #007C85;
		}
		.fecha{
			font-weight: 100;
		}
		.content img{
			display: block;
			margin-bottom: 10px;
			width: 100%;
			height: auto;
		}

		#http://hackaday.com .content img, 
		#http://we-make-money-not-art.com .content img{
			display: none;
		}
		
		article > footer{
			margin-top: 20px;
			padding: 5px 0;
			text-align: right;
			/*background: #007C85;*/
			/*color: white;*/
		}
		.cat{
			font-weight: 500;
		}

		.subrrayado{
			border-bottom: 1px solid #d3d3d3;
			padding-bottom: 5px;
			margin-bottom: .5rem !important;
		}
		
		.anchor a{
			font-size: 2rem;
			color: #d3d3d3;
		}
		.subtitulo{
			font-size: 1.5rem;
			/*color: #007C85;*/
			/*font-weight: 700;*/
			padding-left: 2px;
			font-weight: 100;
		}


		
		/*.resaltado a,.resaltado {
			color:red;
		}*/
		

		body > footer{
			padding:50px 0;
		}

		/* aca agrego css segun params */

		.{{ cats|join(', .') }}{
			color: red;
		}


		/* ajuste relacion entre los titulos */
		h1 {
    	font-size: 7rem;
    	font-weight: 100;
		}
		h2 {
			/*font-size: 3.8rem;*/ /*	originalmente de h3 */
			font-weight: 100;
		}
		h3 {
			/*font-size: 3.6rem;*/ /*	originalmente de h4 */
			font-weight: 100;
			letter-spacing: 0rem
		}
		h4{
			font-size: 2.2rem; /*	originalmente de h5 */
			font-weight: 500;
		}


		/* hueevaa */
		.row{
			/*height: 100%;*/
		}
		.column{
			/*height: 100%;
			background: #d3d3d3;*/
		}
		section{
			/*background: white;
			margin: 0px -1rem;
			padding: 0px 1rem;
			padding-bottom: 100px;*/
		}

	</style>

</head>

<body class="container">

	<!-- <header></header > -->

	<div class="row">

		<div class="column column-25">

			<header class="pinned fondeado">
			<nav>
				<h1>RAM</h1>

				<ul><strong>Canales:</strong>
					{% for feed in feeds %}
						<li>
							<a
								class="{{ feed.categories|join(' ') }}" 
								title="{{ feed.url }}"
								href="/#{{ feed.url }}">
								{{ feed.name|raw }}
							</a> [{{ feed.entries|length }}]
						</li>



					{% endfor %}

				</ul>

				<strong>Categorias:</strong><br>
				
				<p>
					{% for cat in categories_main %}
						
						{# actualizo el estado de la categoria si es que tiene contenido #}
						{% set estado = 'empty' %}
						{% for feed in feeds %}
							{% if cat in feed.categories %}

							{% set estado = 'full' %}

							{% endif %}
						{% endfor %}

						{# imprimo categorias #}

						{% if estado == 'full' %}
						<a  class="categoria {{ cat|raw }} {{estado}}" href="/?categoria={{ cat|raw }}">
								{{ cat|raw }}</a>
						{% else %}
							<span class="categoria">{{ cat|raw }}</span>
						{% endif %}

					{% endfor %}
				</p>

			</nav>

			</header>

		</div> <!-- cierra .column-25 -->




		<!-- <div class="column column-75"> -->


			<main id="content" class="group column column-75" role="main">

				<header>
					<h2>Radar de noticias de Artes Multimediales</h2><br>
					<p><small>Los articulos a continuación fueron publicados 
					{# timestamp|localizeddate("J d \\d\\e M \\d\\e Y","none", locale) #}
					en sus respectivos canales, el contenido del mismo y las opiniones 
					expresadas son de exclusiva responsabilidad de los autores; su 
					recopilacion en esta página es sin fines delucro y no tiene otro motivo 
					que la divulgación de temas ralacionados con la carrera.</small></p>
				</header >

				{% for feed in feeds %}

					{# filtro por categorias #}
					{% for cat in cats %}
						{% if ( cat in feed.categories ) or ( cat == "all" ) %}

							{% include 'section.html.twig' %}
							{# include 'template.html' with vars #}

						{% endif %}
					{% endfor %}
				{% endfor %}

			</main> <!-- cierra .column-75 -->

		<!-- </div> --> <!-- cierra .column-75 -->

	</div> <!-- cierra .row -->

	<footer>
		<a target="_BLANK" href="http://una.edu.ar/">
			Universidad Nacional del las Artes
		</a> / 
		<a target="_BLANK" href="http://multimedia.una.edu.ar/">
			Área Transdepartamental de Artes Multimediales
		</a>
	</footer>

	<!-- Include jQuery and jquery.pin -->
	<script
		src="http://code.jquery.com/jquery-2.2.3.min.js"
		integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
		crossorigin="anonymous"></script>
	<script 
		src="https://cdn.jsdelivr.net/jquery.pin/1.0.3/jquery.pin.min.js"></script>

	<script>
		$(".pinned").pin({containerSelector: ".row"});
	</script>

</body>
</html>